[submodule "optimizer/googletest"]
	path = optimizer/googletest
	url = https://github.com/google/googletest.git
[submodule "msys2_gtest_fibonacci/googletest"]
	path = msys2_gtest_fibonacci/googletest
	url = https://github.com/google/googletest.git
[submodule "optimizer_practice/googletest"]
	path = optimizer_practice/googletest
	url = git@github.com:google/googletest.git
[submodule "googletest_practice_triangle/googletest"]
	path = googletest_practice_triangle/googletest
	url = git@github.com:google/googletest.git
